.node--type-gallery-photo .field-gallery-images {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.node--type-gallery-photo .multi-item {
    position: relative;
    overflow: hidden;
    max-width: calc (50% - 20px);
    padding:10px;
}
.node--type-gallery-photo .multi-item img {
    object-fit:cover;
    height:120px;
    width:120px;
}

/* ================= */
/* = Media Queries = */
/* ================= */

@media (min-width:768px) {
    .node--type-gallery-photo .multi-item img {
        height:150px;
        width:150px;
    }
}
@media (min-width:768px) {
    .node--type-gallery-photo .multi-item {
        max-width: calc (33.333% - 20px);
    }
    .multi-item img {
        height:200px;
        width:200px;
    }
}
@media (min-width:992px) {
    .node--type-gallery-photo .multi-item img {
        height:300px;
        width:300px;
    }
}